<HTML>
 <HEAD>
   <TITLE>Test page for Ansible examples</TITLE>
 </HEAD>
 <BODY>
  <H1>Nginx - config'd by Ansible</H1>
  <P>Success if you can see this page... Hooray for me</P>

  <P>{{ ansible_managed }}</P>
 </BODY>
</HTML>